html,
body
  height: 100%
  overflow: hidden

body
  background: #000
  font-family: 'Dosis', sans-serif

.container
  bottom: 0
  left: 0
  margin: auto
  overflow: hidden
  position: absolute
  right: 0
  top: 0
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

.scaler
  height: 1080px
  left: 0
  position: absolute
  top: 0
  transform-origin: 0% 0%
  width: 1920px

.state
  align-items: center
  display: none
  flex-direction: column
  height: 100%
  justify-content: center
  left: 0
  position: absolute
  top: 0
  width: 100%
  &.state-active
    display: flex

.state-menu
  background: radial-gradient(#181818, #000)

.state-menu-title
  color: #fff
  font-size: 160px
  line-height: 1
  margin-bottom: 40px
  text-align: center
  *:nth-child(1)
    color: hsl(130, 90%, 60%)
    font-weight: 400
  *:nth-child(2)
    font-weight: 200
    position: relative
  *:nth-child(3)
    color: hsl(210, 90%, 60%)
    font-weight: 400

.state-menu-subtitle
  border-bottom: 2px solid #333
  color: #888
  font-size: 30px
  font-weight: 300
  line-height: 1
  margin-bottom: 70px
  padding-bottom: 70px
  text-align: center
  span
    color: #fff
    font-weight: 500

.state-menu-levels
  display: flex

.state-menu-level
  align-items: center
  border: 2px solid #555
  color: #555
  cursor: pointer
  display: flex
  font-size: 24px
  font-weight: 500
  height: 64px
  line-height: 1
  margin-right: 40px;
  justify-content: center
  text-align: center
  transition: all 200ms
  width: 64px
  &.state-menu-level-available
    border-color: #fff
    color: #fff
  &.state-menu-level-beat
    background: #fff
    border-color: #fff
    color: #000
  &:last-child
    margin-right: 0
  &:hover
    border-color: #fff
    box-shadow: 0 0 0 8px hsla(0, 0%, 100%, 0.1)
    transform: scale(1.1)

.state-instructions
  background: hsla(60, 100%, 50%, 0.2)

.state-play
  //background: hsla(120, 100%, 50%, 0.2)

.state-win
  background: hsla(180, 100%, 50%, 0.2)

.state-lose
  background: hsla(220, 100%, 50%, 0.2)

h2
  color: #fff
  font-size: 128px
  font-weight: 500
  text-align: center
