<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{site_title}}</title>
    <meta name="description" content="{{site_description}}">
    <meta name="keywords" content="{{site_keywords}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{{robots}}}
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="./css/application.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">
    <script src="./scripts/modernizr-bundle.js"></script>
  </head>
  <body>
